@use "src/assets/stylesheets/variables" as variables

.tabButtons
    display: flex
    column-gap: variables.$grid-gutter
    padding: variables.$grid
    border-bottom: 1px solid variables.$turquoise

    span
        font-size: 12px

    button
        flex: 1 0 auto
