@use "src/assets/stylesheets/variables"

.row.disabled td
        cursor: initial

.actions
    svg
        // TODO [KAN-153]  !important to oweride the styles from the general-table class
        margin-left: 8px !important
        display: inline-block
        position: relative
        top: -1px
