@use "src/assets/stylesheets/variables" as variables

.fourOuFour
    text-align: center
    padding: variables.$grid-gutter

.container
    display: grid
    grid-template-columns: 1fr 1fr
    align-items: center
    line-height: 22px
